#logo{
    height: 75px;
    padding-right: 8px;
}

.navbar{
	padding: .5rem 20vh !important;
}

/* large devices */
@media (max-width: 1799.98px) { 
    .navbar{
        padding: .5rem 5vh !important;
    }
}

/* small and medium devices */
@media (max-width: 991.98px) { 
    .navbar{
        padding: .5rem .5rem !important;
    }
}


